<footer class="py-4 text-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted"> &copy; 2025 SchoolMaster. Tous droits réservés.
            </div>


            <div>
                <a class="text-light" href="#">Politique de confidentialité</a>
                &middot;
                <a class="text-light" href="#">Conditions d'utilisation</a>
                &middot;
                <a class="text-light" href="#">Contact</a>
            </div>


            <div class="mt-2 mt-md-0">
                <a class="text-light me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="text-light me-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="text-light" href="#"><i class="fab fa-instagram"></i></a>
            </div>

        </div>
    </div>
</footer>